<div class="card bg-light" *ngIf="listadoCitas.length === 0">
  <div class="card-body">
    <h5 class="card-title text-center">No hay citas para mostrar</h5>
  </div>
</div>

<div class="card mb-2">
  <div class="card-body" *ngFor="let c of listadoCitas; let i = index">
    <p class="card-text"><span>Nombre:</span> {{ c.nombre }}</p>
    <p class="card-text"><span>Fecha:</span> {{ c.fecha }}</p>
    <p class="card-text"><span>Hora:</span> {{ c.hora }}</p>
    <p class="card-text"><span>Sintomas:</span> {{ c.sintomas }}</p>
    <button class="btn btn-danger btn-block" (click)="eliminarCita(i)">
      ELIMINAR
    </button>
  </div>
</div>
